{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
    <div class="jumbotron text-right">
        <h4>Date du jour : {{ 'now'| date('d/m/Y') }}</h4>
        <h4>Participant : {{ app.user.prenom | capitalize }} {{ app.user.nom | slice(0,1)}}. {% if app.user.administrateur == 1 %}(admin){% endif %}</h4>

    </div>

{% endblock %}
